@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: linear-gradient(45deg, #fddb92 0%, #c0cacc 70%);
  --primary: #231650;
  --secondary: #cff2d7;
  --accent: #bf5436;
  --transition: all 200ms ease-in-out;
  --shadow-color: hsla(253, 30%, 20%, 0.3);
}

body {
  display: flex;
  justify-content: center;
  font-family: Open Sans, sans-serif;
  color: var(--primary);
  background: var(--background);
  background-repeat: no-repeat;
  width: 100vw;
  min-height: 100vh;
}

.cards-container {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: hsla(0, 0%, 100%, 0.4);
  border-radius: 1rem;
  margin-block: 2rem;
  padding-block: 2rem;
  width: 24rem;
  max-width: 96%;
  height: fit-content;
}

.card {
  position: relative;
  width: 20rem;
  aspect-ratio: 4/6;
  font-size: 0.8rem;
  background-size: cover;
  background-repeat: none;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 1rem 1rem var(--shadow-color);
}

.skills {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-items: center;
  align-items: center;
  padding: 0.5rem 2rem;
  width: 100%;
  height: 2.2rem;
  background: var(--secondary);
  box-shadow: 0 0.2rem 1rem var(--shadow-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  z-index: 1;
}

.skills i {
  font-size: 1.2rem;
  color: var(--primary);
}

.thumb {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  height: 90%;
  background-image: url("https://bootstrapmade.com/content/templatefiles/PhotoFolio/PhotoFolio-bootstrap-website-template-md.webp");
  background-size: cover;
  background-position: center;
  transition: var(--transition);
}

.details {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -9rem;
  width: 100%;
  height: fit-content;
  background: var(--secondary);
  padding-left: 2rem;
  box-shadow: 0 -0.2rem 1rem var(--shadow-color);
  transition: var(--transition);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: 1;
}

.chevron-hint {
  cursor: pointer;
  background: var(--secondary);
  border-radius: 50%;
  font-size: 2rem;
  position: absolute;
  left: 35%;
  top: -1rem;
  transition: var(--transition);
}

.card:not(:hover) .thumb {
  transition: var(--transition);
}

.details-top {
  width: 100%;
  height: 9rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

.category {
  grid-column: span 6;
  margin-top: 1rem;
}

.title {
  margin-top: -0.8rem;
  grid-row: span 2;
  grid-column: span 6;
}

.date {
  color: var(--secondary);
  grid-row: span 3;
  grid-column: span 2;
  z-index: 1;
}

.date .date-card {
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 0.5rem;
  background: var(--accent);
  margin-top: -0.8rem;
  margin-left: -0.3rem;
  border-radius: 0.5rem;
}

.date-card span:first-of-type {
  font-size: 1.2rem;
  font-weight: bold;
}

.date-card span:nth-child(2),
.date-card span:nth-child(3) {
  font-size: 0.6rem;
  font-weight: 600;
}

.details-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.description {
  max-width: 80%;
  text-align: justify;
  text-justify: inter-word;
  padding-bottom: 1rem;
}

.thumb .view-link {
  display: none;
}

.details .view-link {
  margin-top: 0rem;
  background: var(--primary);
  border-top-left-radius: 1rem;
  width: 130%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}

.details .view-link a ion-icon {
  font-size: 1.6rem;
  align-self: center;
}

.details .view-link a {
  position: relative;
  display: flex;
  gap: 0.6rem;
  flex-direction: column;
  max-width: rem;
  height: 100%;
  appearance: none;
  color: var(--secondary);
  text-decoration: none;
}

.view-link a > * {
  transition: var(--transition);
}

.view-link:hover a > * {
  color: var(--accent);
}

@media (min-width: 600px) {
  body {
    font-size: 1rem;
  }

  .cards-container {
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: initial;
    border-radius: 1rem;
    margin: auto;
    align-self: flex-start;
    width: clamp(590px, 96%, 1000px);
  }

  .card {
    margin: auto;
    width: clamp(500px, 90%, 1000px);
    aspect-ratio: unset;
    height: fit-content;
  }

  .thumb {
    transform-origin: top;
  }

  .skills {
    padding-block: 0.5rem;
  }

  .details-top {
    height: fit-content;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(7, 1fr);
    box-shadow: none;
  }

  .category {
    margin-block: 0.5rem;
  }

  .date {
    grid-column: span 1;
  }

  .details {
    position: relative;
    align-self: flex-start;
    bottom: 0;
    box-shadow: none;
    padding-bottom: 0.5rem;
  }

  .title {
    margin-block: 0.8rem;
  }

  .details-bottom {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(7, 1fr);
  }

  .description {
    grid-column: span 6;
    padding-bottom: 0;
  }

  .thumb {
    height: 0;
    box-shadow: inset 0 -0.2rem 1rem var(--shadow-color);
  }

  .details .view-link {
    display: none;
  }
  .thumb .view-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    margin: 1rem 2rem;
    border-radius: 1rem;
    text-decoration: none;
    background: var(--secondary);
    padding: 0.5rem 1rem;
  }

  .thumb .view-link a {
    text-decoration: none;
    color: var(--primary);
    padding-bottom: 3px;
  }

  .thumb .view-link a ion-icon {
    margin-bottom: -0.25rem;
    margin-left: 0.5rem;
  }

  .chevron-hint {
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    transform: rotate(180deg);
  }
}