* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --shadow-color: 163deg 17% 57%;
  --shadow-elevation-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.33),
    0px 0.8px 0.9px -0.9px hsl(var(--shadow-color) / 0.32),
    0px 2.2px 2.4px -1.9px hsl(var(--shadow-color) / 0.3),
    0px 5.3px 5.7px -2.8px hsl(var(--shadow-color) / 0.28);
  --ligh-color: hsl(163, 82%, 99%);
  --std-transition: all 0.2s ease-in;
}

body {
  display: grid;
  height: 100dvh;
  place-items: center;
  font-family: "Average Sans", sans-serif;
  background-image: linear-gradient(20deg, #37ecba 0%, #72afd3 75%);
  object-fit: cover;
}
body h1 {
  font-family: "Doppio One", sans-serif;
}

.card {
  background: var(--ligh-color);
  width: clamp(260px, 90vw, 26rem);
  border-radius: 1rem;
  padding: 1rem 2rem;
  box-shadow: var(--shadow-elevation-medium);
}

.card-header,
.card-footer {
  padding-block: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-header::before {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  content: "";
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}
.card-content {
  margin-block: 2rem;
}
.card-content .app-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  place-items: center;
  gap: 1rem;
}

.card-content .app-grid .app-item {
  list-style: none;
  width: 6rem;
  height: 8rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 0.5rem;
  transition: var(--std-transition);
  padding-block: 0.5rem;

  /* border: 1px blue solid; */
}

.app-grid .app-name {
  margin-block: 0.7rem;
  height: 2rem;
}

.card-content .app-grid .app-item:hover {
  box-shadow: 0px 0px 1.5rem -0.5rem hsla(164, 52%, 28%, 0.3);
}

.app-item:hover .app-name {
  display: none;
}

.app-item .btn-wrapper {
  position: relative;
}

.app-item:hover .app-add-button {
  display: block;
}

.app-item .app-add-button {
  display: none;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  min-width: 5rem;
  transform: translateX(-50%);
  font-size: 0.8rem;
  background: #6037ec;
  color: var(--ligh-color);
  border: none;
  outline: none;
  padding: 0.2rem 0.5rem;
  border-radius: 0.25rem;
}

.card-footer::before {
  position: absolute;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  content: "";
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
}

.card-footer .add-more {
  position: relative;
  margin-top: 1rem;
  width: 96%;
  height: 3rem;
  border: none;
  background: #27a582;
  border-radius: 0.25rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 1rem;
  transition: var(--std-transition);
}

.card-footer .add-more:hover,
.card-footer .add-more:active {
  background: #1b735b;
  box-shadow: var(--shadow-elevation-medium);
}

.card-footer .add-more span {
  margin-left: 0;
  transition: var(--std-transition);
}

.card-footer .add-more:hover span,
.card-footer .add-more:active span {
  margin-left: 0.5rem;
  transition: var(--std-transition);
}
.card-footer .add-more span::before {
  content: "\002B";
  margin-right: 0.5rem;
  opacity: 0;
  transition: var(--std-transition);
}

.card-footer .add-more:hover span::before,
.card-footer .add-more:active span::before {
  opacity: 1;
}

@media (max-width: 768px) {
  .card-content .app-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
